body {
    color:black;
    font-family: Roboto, sans-serif;
    text-align: justify;
    font-size: 18px;
    margin: 0px;
}

.content
{
    text-align: left;
    padding: 50px 150px 50px 150px;
}

:link { color: #3897F1; background: transparent; text-decoration: none}
:visited { color: #3897F1; background: transparent }
a:active { color: #C00; background: transparent }


/*SECTIONS*/

.header {
    padding: 50px 150px 50px 150px;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/AlexDonkers/bop/main/docs/resources/TUEbg.png'); 
    font-size: 30px;
  }
 
.intro {

    text-align: center;
    background-color: #25002f; 
    color: white;
    font-size: 30px;
  }


/*TEXT STYLES*/

  h1 {
    color:white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.contribute { 
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    float: right;
    font-size: 12px;
  }

.ISBEbold {
    margin-top: 200px;
    color: #2F6FAB;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
  }

  .ABOUTtext {
    color: white;
    font-family: Roboto, sans-serif;
    text-align: justify;
    font-size: 20px
    
  }


/*COLUMNS*/

  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }