body {
    color:black;
    font-family: Roboto, sans-serif;
    text-align: justify;
    font-size: 18px;
    margin: 0px;
}

.content
{
    text-align: left;
    background-color: white;
    padding: 50px 150px 50px 150px;
}


/*SECTIONS*/

.header {
    padding: 50px 150px 50px 150px;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/AlexDonkers/bop/main/docs/resources/TUEbg.png'); 
    font-size: 30px;
  }
 
.intro {

    text-align: center;
    background-color: #25002f; 
    color: white;
    font-size: 30px;
  }


/*TEXT STYLES*/

  h1 {
    color:white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.ISBEbold {
    margin-top: 200px;
    color: #2F6FAB;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px
  }

  .ABOUTtext {
    margin-top: 200px;
    color: #white;
    font-family: Roboto, sans-serif;
    font-weight: 
    text-align: justify;
    text-transform: uppercase;
    font-size: 12px
  }